<div aria-hidden="true" class="modal fade" tabindex="-1"
     th:fragment="folder-modal" th:id="|folder-rename-modal-${iterStat.index}|">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Rename</h5>
        <button aria-label="Close" class="btn-close" data-mdb-dismiss="modal" type="button"></button>
      </div>
      <div class="modal-body">
        <form th:action="@{/folders}" th:id="|folder-rename-form-${iterStat.index}|" th:method="put"
              th:object="${folderRenameDto}">
          <div class="form-outline">
            <input class="form-control" id="newName" th:name="newName" th:value="${file.name}" type="text">
          </div>
          <input th:name="currentName" th:value="${file.name}" type="hidden">
          <input th:name="path" th:value="${file.path}" type="hidden">
          <input th:name="owner" th:value="${#authentication.name}" type="hidden">
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-mdb-dismiss="modal" type="button">Close</button>
        <button class="btn btn-primary" th:attr="form=|folder-rename-form-${iterStat.index}|" type="submit">Ok
        </button>
      </div>
    </div>
  </div>
</div>