<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Search</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.1/mdb.min.css" rel="stylesheet"/>
</head>

<body class="bg-secondary" style="--mdb-bg-opacity: 0.2;">

<div th:replace="component/header :: header"></div>

<div class="container-fluid mt-4" style="min-height: 50vh;">
  <div class="row h-100">
    <!-- Left Pane -->
    <div class="col-md-2 d-flex justify-content-center align-items-start">

      <div aria-label="upload button group" class="btn-group-vertical" role="group">
        <button class="btn btn-primary mb-1" data-mdb-target="#fileUploadModal" data-mdb-toggle="modal"
                type="button">
          Upload file
        </button>
        <button class="btn btn-primary" data-mdb-target="#folderUploadModal" data-mdb-toggle="modal"
                type="button">
          Upload folder
        </button>
      </div>

    </div>

    <!-- Right Pane -->
    <div class="col-md-9">

      <!-- Outer container -->
      <div class="container-fluid d-flex flex-column">

        <!-- Search -->
        <form class="input-group mb-3" style="width: 33%;" th:action="@{/search}" th:method="get">
          <div class="form-outline">
            <input class="form-control bg-light" id="searchInput" required th:name="query"
                   type="search"/>
            <label class="form-label" for="searchInput">Search</label>
          </div>
          <button class="btn btn-primary" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </form>

        <!-- Inner container -->
        <div class="container-fluid d-flex flex-column rounded-4 bg-light py-3 px-4"
             style="min-height: 50vh;">

          <h4 class="mb-3">Search results</h4>

          <!-- Not Found Message -->
          <div class="my-auto d-flex flex-column justify-content-center align-items-center"
               th:unless="${searchResults}">
            <img class="w-25" th:src="@{/img/error.png}">
            <p class="lead">
              Nothing found for the query
              <mark><span th:text="${param.query}"></span></mark>
            </p>
            <p>
              Note that query is <strong>case-sensitive</strong>
            </p>
          </div>

          <!-- Folders -->
          <div th:if="${searchResults}">
            <h6 class="mb-3">Folders</h6>
            <div class="row row-cols-1 row-cols-md-5 g-4">
              <div class="col" th:each="file, iterStat : ${searchResults}" th:if="${file.isDir}">
                <div class="card flex-row p-2 align-items-center justify-content-between shadow-4-strong">

                  <!-- Folder Name -->
                  <div class="d-flex align-items-center w-75 position-relative">
                    <img alt="folder" style="width: 2rem" th:src="@{/img/folder.png}"/>
                    <span class="ms-2 d-block text-truncate" th:text="${file.name}"></span>
                    <a class="stretched-link" th:href="@{'/?path=' + ${file.path}}"></a>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <!-- Files -->
          <div class="mt-5" th:if="${searchResults}">
            <h6 class="mb-3">Files</h6>
            <div class="row row-cols-1 row-cols-md-5 g-4">
              <div class="col" th:each="file, iterStat : ${searchResults}" th:unless="${file.isDir}">
                <div class="card flex-row p-2 align-items-center justify-content-between shadow-4-strong">

                  <!-- File Name -->
                  <div class="d-flex align-items-center w-75 position-relative">
                    <img alt="file" style="width: 2rem" th:src="@{/img/file.png}"/>
                    <span class="ms-2 d-block text-truncate" th:text="${file.name}"></span>
                    <a class="stretched-link" th:href="@{'/?path=' + ${file.path}}"></a>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.1/mdb.min.js" type="text/javascript"></script>
<script crossorigin="anonymous" integrity="sha256-tG5mcZUtJsZvyKAxYLVXrmjKBVLd6VpVccqz/r4ypFE="
        src="https://code.jquery.com/jquery-3.7.0.slim.min.js"></script>
</body>

</html>